<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/css/public/authorization/authorization-page.css" rel="stylesheet">
</head>
<body>
<div class="page-wrapper">
    <div class="container">
        <div class="header-container">
            <h2 class="header-container__text">Вход</h2>
        </div>
        <div class="form-container">
            <form action="/login" method="post" class="form-container__form">
                <div class="form-container__input-wrapper">
                    <input type="email" name="email" placeholder="Введите ваш email" class="form-container__input" required>
                </div>
                <div class="form-container__input-wrapper">
                    <input type="password" name="password" placeholder="Введите пароль" class="form-container__input" required>
                </div>
                <div th:if="${isAuthenticationField}" class="form-container__warning-wrapper">
                    <span class="form-container__warning">Неправильный email или пароль</span>
                </div>
                <div class="form-container__button-wrapper">
                    <button type="submit" class="form-container__button">Войти</button>
                </div>
            </form>
        </div>
        <div class="footer-link-container">
            <span class="footer-link-container__text">Нет аккаунта? <a href="/registration" class="footer-link-container__link">Зарегистрироваться</a></span>
        </div>
    </div>
</div>
</body>
</html>
