<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создать аккаунт</title>
    <link href="/css/public/authorization/authorization-page.css" rel="stylesheet">
</head>
<body>
<div class="page-wrapper">
    <div class="container">
        <div class="header-container">
            <h2 class="header-container__text">Регистрация</h2>
        </div>
        <div class="form-container">
            <form action="/registration" method="post" class="form-container__form">
                <div class="form-container__input-wrapper">
                    <input type="text" name="name" placeholder="Введите ваше имя" class="form-container__input" required>
                </div>
                <div class="form-container__input-wrapper">
                    <input type="email" name="email" placeholder="Введите ваш email" class="form-container__input" required>
                </div>
                <div class="form-container__input-wrapper">
                    <input type="password" name="password" placeholder="Введите пароль" class="form-container__input" required>
                </div>
                <div class="form-container__button-wrapper">
                    <button type="submit" class="form-container__button">Зарегистрироваться</button>
                </div>
            </form>
        </div>
        <div class="footer-link-container">
            <span class="footer-link-container__text">Уже есть аккаунт? <a href="/login" class="footer-link-container__link">Войти</a></span>
        </div>
    </div>
</div>
</body>
</html>
