<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Something went wrong</title>
  <link href="/css/public/error/error-page.css" rel="stylesheet"/>
</head>
<body>
<div class="page-wrapper">
  <div class="container">
    <div class="title">
      <h2>Что-то пошло не так :(</h2>
    </div>
    <div class="description">
      <h4>Мы уже работаем над решением проблемы</h4>
    </div>
    <div class="navigation">
      <a href="/account">Страница аккаунта</a>
    </div>
  </div>
</div>
</body>
</html>